name: Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
        os: [ubuntu-latest]

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        allow-prereleases: true

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install cython numpy w3lib six
        pip install nose parameterized doctest-ignore-unicode coverage

    - name: Build and install package
      run: |
        CYTHONIZE=1 pip install -e . --no-build-isolation

    - name: Run tests
      run: |
        nosetests \
          --with-coverage \
          --cover-package=scrapely \
          --cover-branches \
          --with-doctest \
          --with-doctest-ignore-unicode \
          --doctest-options='+ELLIPSIS,+IGNORE_UNICODE' \
          scrapely tests
